
.gfonts{
  font-family: Bungee Spice;
 }
 .card{
    background-color:#150827
 }
 .solanaInputLogo{
    background: url(../public/images/Solana_logo.png) no-repeat right;
    padding-right: 40px;
    background-size: 40px;
    background-color: white; 
 } 
 .sodsInputLogo{
    background: url(../public/images/Logo/o10.png) no-repeat right;
    padding-right: 40px;
    background-size: 40px;
    background-color: white; 
 }
 .btnMob,.navMob{
   display: none;
}
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
   .display-1 {
       font-size: 40px;
   }

   .gfonts {
       font-size: 80px;
   }
   .btnMain,.navMain{ 
      display: none;
   } 
   .btnMob,.navMob{
      display: block;
   }
}
